.container {
    background-color: rgb(255, 219, 237);
    height: 90vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Evenly distribute space without large gaps */
    padding: 10px 0;
    box-sizing: border-box;
}

.title {
    color: #000;
    margin: 5px 0; /* Reduced margin to decrease space above */
}

.calendly-widget {
    width: 80%;
    max-width: 1000px;
    height: 600px; /* Adjusted height to ensure it fits */
    overflow: hidden;
}

.calendly-widget iframe {
    width: 100%;
    height: 100%;
}

.button {
    padding: 10px 40px;
    font-size: 24px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0; /* Reduced margin to decrease space below */
}